*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div{
    display: flex;
    justify-content: space-around;
 margin: 0;
}
label{
    font-family: Druk Wide2;
    font-size: large;
    margin-top: 20px;
}
input{
    font-family: Druk Wide2;
    font-size: large;
    margin-top: 20px; 
    background-color: transparent;
}
select{
    font-family: Druk Wide2;
font-size: large;
margin-top: 20px;
color: #3c3c3c;
}
body{
    font-family: Druk Wide2;
    margin: 0;
    padding: 0;
    text-align: justify;
}

header{
    padding: 20px;
    background: url(/img/imagen1.jpg);
    text-align: center;
}
h1{
    color:#fff;
    font-style: italic;
    font-size: 80px;
    text-shadow: 6px 6px 0px #000;
}


nav{
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

a{
	
	text-decoration: none;
	color: #000000;
	padding: 14px 20px;
	border-radius: 30px;
}

a:hover {
	background-color: #000;
	color: #fff;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    background-color: #fdfbfb;
}
.contenedor{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    margin-left: 20px;
}
.seccion{
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: space-around;
}
.labels{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.acciones{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

section{
    flex: 40%;
    background-color: white;
    padding: 30px;
}
@font-face {
    font-family: Druk Wide;;
    src: url(/img/fuente.otf);
}
@font-face {
    font-family: Druk Wide2;;
    src: url(/img/fuente2.ttf);
}
@font-face {
    font-family: Roboto;;
    src: url(/img/roboto2.ttf);
}
section h1{
    color:#000;
    text-align: center;
    font-style:normal;
    font-size: 60px;
    text-shadow: 5px 4px 0px #e7e7e7;  
}
section h2{
    color:#000;
    text-align: center;
    font-style:normal;
    font-size: 30px;
  
}
section p{
    color:#000;
    font-style:normal;
    font-size: 23px;
    line-height:35px;
}
.productos{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content:space-around;
}
.prod{
    width: 300px;
    height: 500px;
    background-color: #f2f2f2;
    padding: 50px;
    margin: 30px;
}
.prod img{
    height: 150px;
    width: 200px;
    align-items: center;
}
.textoempresa p{
    padding: 30px;
    color:#000;
    font-family: Druk Wide2;
    font-style:normal;
    font-size: 25px;
    line-height: 30px;
}
.textoempresa h2{
    padding: 30px;
    color:#000;
    font-family: 'Segoe UI',sans-serif;
    font-style:normal;
    font-size: 50px;

}

footer{
    padding: 0px;
    text-align: center;
    background: url(/img/nike.jpg);
    height: 150px;
}
footer h2{
    font-size: 20px;
    color: #f2f2f2;
    padding: 20px;
}
@media screen and (max-width: 700px){
    nav, .row{
        width: 50%;
        flex-direction: column;
    }
}
form{
    align-items: center;
    text-align: center;
}

.headerimg{
    width: 100%;
}
li{
    font-size: 20px;
    color: #8b8b8b;
    line-height: 25px;
    list-style: none;
}
.btn {
    background-color: transparent;
    background-image: url("/img/ingeniero.png");
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    padding: 20px;
    width: 30px;
    border-radius: 900px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
   }
   .btn:hover
   {
    width: 70px;
    height: 70px;
   }
   .btn2 {
    background-color: transparent;
    background-image: url("/img/regreso.png");
    background-size: cover;
    background-position: center;
    display: inline-block;
    border: none;
    padding: 20px;
    margin-left: 20px;
    width: 30px;
    border-radius: 900px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
   }
   .btn2:hover
   {
    width: 50px;
    height: 50px;
   }
   .insertar{
    background-color: transparent;
    background-image: url("/img/insartar.png");
    background-size: cover;
    background-position: center;
    display: flex;
    border: none;
    padding: 30px;
    margin-left: 20px;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
   }
   .insertar:hover
   {
    width: 80px;
    height: 80px;
   }
   .borrar {
    background-color: transparent;
    background-image: url("/img/borrar.png");
    background-size: cover;
    background-position: center;
    display: flex;
    border: none;
    padding: 30px;
    margin-left: 20px;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
   }
   .borrar:hover
   {
    width: 80px;
    height: 80px;
   }
   .buscar {
    background-color: transparent;
    background-image: url("/img/buscar.png");
    background-size: cover;
    background-position: center;
    display: flex;
    border: none;
    padding: 30px;
    margin-left: 20px;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
   }
   .buscar:hover
   {
    width: 80px;
    height: 80px;
   }
   .actualizar {
    background-color: transparent;
    background-image: url("/img/editar.png");
    background-size: cover;
    background-position: center;
    display: flex;
    border: none;
    padding: 30px;
    margin-left: 20px;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
   }
   .actualizar:hover
   {
    width: 80px;
    height: 80px;
   }
   .limpiar {
    background-color: transparent;
    background-image: url("/img/limpiar.png");
    background-size: cover;
    background-position: center;
    display: flex;
    border: none;
    padding: 30px;
    margin-left: 20px;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
   }
   .limpiar:hover
   {
    width: 80px;
    height: 80px;
   }
   .mostrar {
    background-color: transparent;
    background-image: url("/img/mostrar.png");
    background-size: cover;
    background-position: center;
    display: flex;
    border: none;
    padding: 30px;
    margin-left: 20px;
    margin-top: 30px;
    width: 30px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
   }
   .mostrar:hover
   {
    width: 80px;
    height: 80px;
   }
   .mostrarimg{
    background-color: transparent;
    background-image: url("/img/mostrarimagen.png");
    background-size: cover;
    background-position: center;
    display: flex;
    border: none;
    padding: 30px;
    margin-left: 20px;
    margin-top: 30px;
    width: 40px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
   }
   .mostrarimg:hover
   {
    width: 70px;
    height: 70px;
   }
   .comprar{
    border: none;
    outline: none;
    width: 100px;
    height: 30px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .comprar:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
   